$(".notice").remove();

<% @booking.errors.full_messages.each do |message| %>
$("#helpBlock").append("<div class='notice' style='color:red;'><%= escape_javascript( message.humanize)%></div>");
<% end %>

<% if @booking.save %>
$("#helpBlock").append("<div class='notice' style='color:green;'> Booking request Submitted </div>");

<%end%>
