<header>
  <div class="menu-bar u-d-flex u-align-item-center u-justify-content-space-between">
    <div class="menubutton ">
      <button class="toggle-button">
        <i class="fa fa-bars"></i>
      </button>

    </div>
    <div class="menu-items-container u-d-flex u-justify-content-space-between u-flex-1">
      <div class="logo-container u-d-flex u-justify-content-center">
        <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/main-logo.jpg" alt="Logo" class="logo-image">
      </div>
      <div class="menu-items-center u-flex-1">
      <div class="menu-items u-d-flex ">
        <div class="menu-item active">
         <a href="<%= root_path %>"> Home </a>
        </div>
<!--        <div class="menu-item">Treatment</div>-->
        <div class="menu-item"><a href="<%= about_path %>">About us </a></div>
        <div class="menu-item"><a href="<%= contact_path%>">Contact </a></div>
      </div>
      </div>
      <div class="menu-item-right u-d-flex u-align-item-center">
        <div class="phone-container">
          <div class="icon-container ">
            <i class="fa fa-phone fa-rotate-270 fa-lg"></i>
            <span> Call US</span>
            <span class="active">1-677-124-44227</span>
          </div>
        </div>
        <div class="search-icon menu-item-icon">
          <i class="fa fa-search fa-rotate-90"></i>
        </div>
        <div class="depricon-icon menu-item-icon">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</header>