<section class="qualified-container">
    <div class="qualified-container-top-text">
        <div class="qualified-container-heading heading-lg">
          Qualified Doctors
        </div>
      <div class="qualified-text gray-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
        pulvinar dapibus leode savii muscule de sanctis.
      </div>
    </div>
    <div class="qualified-card-row">
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-1.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Lawrence Soto
        </div>
        <div class="qualified-card-position">
          GYNECOLOGIST
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-2.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Patrick Burton

        </div>
        <div class="qualified-card-position">
          PEDIATRICIAN
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-3.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Catherine Castillo

        </div>
        <div class="qualified-card-position">
          NEUROLOGIST
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-4.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Alexander Burns
        </div>
        <div class="qualified-card-position">
          DENTAL SURGEON
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
    </div>
  </section>
  