<section class="cards-section">
    <div class="cards-container">
      <div class="cards-row">
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <%= image_tag 'Slider2/1.jpg', class: 'health-card-img' %>
            </div>
          </div>
          <div class="health-card-heading">
            Where people come first
          </div>
          <div class="health-card-text gray-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error harum natus omnis quaerat recusandae.
          </div>
        </div>
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <%= image_tag 'Slider2/1.jpg', class: 'health-card-img',alt: 'image' %>

              <!--              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/img-2.jpg" alt="image" class="health-card-img">-->
            </div>
          </div>
          <div class="health-card-heading">
            Where people come first
          </div>
          <div class="health-card-text gray-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error harum natus omnis quaerat recusandae.
          </div>
        </div>
        <div class="health-cards health-blue-card">
          <div class="health-card-text-white-sm">
            Always there to care.
          </div>
          <div class="health-card-heading-white">
            Working Hours
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              MONDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              TUESDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              WEDNESDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              THURSDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              FRIDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              SAT/SUN
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              CLOSED
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  