<main class="padding-top-75">
    <section class="slider">
      <div class="slider-back-image-container">
        <div class="slider-text-container">
          <div class="slider-heading heading-lg">
           <%= t :about_us %>
          </div>
          <div class="slider-text white-text">
          <%= t :about_us_text %>
          </div>
        </div>
      </div>
    </section>
    <%= render partial: 'working_hours'%>
    <%= render partial: 'qualified' %>
</main>
