<% provide(:title, 'Booking') %>
<section class="slider padding-top-75">
  <div class="slider-back-image-container-contact">
    <div class="slider-text-container">
      <div class="slider-heading heading-lg">
        <%= t :contact_us %>
      </div>
      <div class="slider-text white-text">
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, doloremque earum molestias repudiandae vel?-->
      </div>
    </div>
  </div>
</section>
<section class="reviews-container ">
  <div class="reviews-inner-container  <%= is_arabic? ? 'text-right-custom': '' %>">

    <%= render partial: 'form' %>

    <div class="reviews-right-side reviews-sides">

      <div class="reviews-review-container mt-0">

        <div class="reviews-review-right">
          <div class="reviews-heading-black heading-lg">
            Germany Office
          </div>
          <div class="reviews-review-right-top gray-text">

          </div>
          <div class="contact-page-bottom d-flex flex-wrap justify-content-between">
          <div class="reviews-review-right-bottom align-items-center">
           <i class="fa fa-mobile-phone active fa-4x"></i>
            <div class="ml-4">
              <div class="reviews-review-reviewer-name heading-md">
                +49 170 3365635
              </div>
              <div class="gray-text">
                info@plusone.expert
              </div>
            </div>
          </div>
            <div class="reviews-review-right-bottom align-items-center">
              <i class="fa fa-map-marker active fa-4x"></i>
              <div class="ml-4">
                <div class="reviews-review-reviewer-name heading-md">
                  +49 170 3365635
                </div>
                <div class="gray-text">
                  Monbijouplatz 3 b, 10178 Berlin
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-review-right mt-5">
        <div class="reviews-heading-black heading-lg">
          Egypt Office
        </div>
        <div class="reviews-review-right-top gray-text">

        </div>
        <div class="contact-page-bottom d-flex flex-wrap justify-content-between">
          <div class="reviews-review-right-bottom align-items-center">
            <i class="fa fa-mobile-phone active fa-4x"></i>
            <div class="ml-4">
              <div class="reviews-review-reviewer-name heading-md">
                +20223588028
              </div>
              <div class="gray-text">
                info@plusone.expert
              </div>
            </div>
          </div>
          <div class="reviews-review-right-bottom align-items-center">
            <i class="fa fa-map-marker active fa-4x"></i>
            <div class="ml-4">
              <div class="reviews-review-reviewer-name heading-md">
                +20223588028
              </div>
              <div class="gray-text">
                Villa 31, St12, Maadi, Cairo
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="container" style="padding:100px;">-->

<!--  <h1 id="headings">Booking Requets</h1>-->
<!--  <hr>-->
<!--  <span id="helpBlock" class="help-block"></span>-->
  <%#= form_for(@booking, :html=>{:remote=>true}) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

<!--      <div class="form-group">-->
       <%#= f.label :first_name, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--        </div>-->
<!--      <div class="form-group">-->
        <%#= f.text_field :first_name, class: 'form-control form-control-user', id: "exampleFirstName", placeholder: "First Name" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :second_name, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.text_field :second_name, class: 'form-control form-control-user', id: "exampleLastName", placeholder: "Last Name" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :email, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.email_field :email, class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Email Address" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :phone, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.telephone_field :phone, id: "phone", class: "form-control form-control-user"%>

<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :disease_type, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.text_field :disease_type, class: "form-control form-control-user", id: "exampleInputIndication", placeholder: "Disease type" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :inquiry, style: "padding-top:7px; font-weight:bold; font-size:20px;" %>
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.text_area :inquiry, class: "form-control form-control-user",rows: "5", cols: "10",placeholder: "Inquiry", style: "resize:none;" %>
<!--      </div>-->

      <%#= f.submit "Save Changes", class: "btn btn-primary btn-user btn-block", id: "submit-button" %>
  <%# end %>
<!--</div>-->
