<main class="padding-top-75  <%= is_arabic? ? 'text-right-custom': '' %>">
  <p class="Seccess-text text-center h-50 d-flex justify-content-center align-items-center slider-text">
  <%= t :sucess_text  %>.
  </p>
</main>