<main class="padding-top-75">
  <p class="Seccess-text text-center h-50 d-flex justify-content-center align-items-center heading-lg">
    Request Submitted. We will get back to you ASAP

  </p>
</main>