
<div class="outerdiv">

<div class="container-fluid img-container">
  <div class="text-center inner-content">
    <h1 class=" text-white" style="text-align: center;">The Perfect Platform To Grow A Service Business.</h1>
    <p class="text-white inverse-text">We’re not just an online booking software. Etyme is the best platform
      that has everything you need to grow a service business, from software to marketplace.</p>
    <div class="scroll-para">
      <p style="text-align: center;">
      <span style="color: #ffffff;">Sign up for Etyme free. No risk, and no credit card required.
    </span>
      </p>
      <a href="#" class="scroll-top text-center show"><i class="fa fa-4x fa-angle-down inverse-text"></i>
      </a>
    </div>
  </div>
</div>
  </div>