<header>
  <div class="menu-bar u-d-flex u-align-item-center u-justify-content-space-between">
    <div class="menubutton ">
      <button class="toggle-button">
        <i class="fa fa-bars"></i>
      </button>

    </div>
    <div class="menu-items-container u-d-flex u-justify-content-space-between u-flex-1">
      <div class="logo-container u-d-flex u-justify-content-center">
        <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/main-logo.jpg" alt="Logo" class="logo-image">
      </div>
      <div class="menu-items-center u-flex-1">
      <div class="menu-items u-d-flex ">
        <div class="menu-item active">
          Home
        </div>
        <div class="menu-item">Treatment</div>
        <div class="menu-item">About us</div>
        <div class="menu-item">Contact</div>
      </div>
      </div>
      <div class="menu-item-right u-d-flex u-align-item-center">
        <div class="phone-container">
          <div class="icon-container ">
            <i class="fa fa-phone fa-rotate-270 fa-lg"></i>
            <span> Call US</span>
            <span class="active">1-677-124-44227</span>
          </div>
        </div>
        <div class="search-icon menu-item-icon">
          <i class="fa fa-search fa-rotate-90"></i>
        </div>
        <div class="depricon-icon menu-item-icon">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="slideer">
  Slider
  </div>
  <section class="services-section">
    <div class="services-container">
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-ambulance fa-4x active"></i>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">People first</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-ambulance fa-4x active"></i>
        </div>
        <div class="services-detail">
          <div class="services-heading heading-s">Quality care</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
      <div class="services-item">
        <div class="services-icon">
          <i class="fa fa-phone fa-rotate-270 fa-4x active"></i>
        </div>
        <div class="services-detail services-detail-border-none">
          <div class="services-heading heading-s">Great service</div>
          <div class="services-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cards-section">
    <div class="cards-container">
      <div class="cards-row">
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/img-1.jpg" alt="image" class="health-card-img">
            </div>
          </div>
          <div class="health-card-heading">
            Where people come first
          </div>
          <div class="health-card-text gray-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error harum natus omnis quaerat recusandae.
          </div>
        </div>
        <div class="health-cards">
          <div class="health-cards-header">
            <div class="health-card-img-container">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/img-2.jpg" alt="image" class="health-card-img">
            </div>
          </div>
          <div class="health-card-heading">
            Where people come first
          </div>
          <div class="health-card-text gray-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor error harum natus omnis quaerat recusandae.
          </div>
        </div>
        <div class="health-cards health-blue-card">
          <div class="health-card-text-white-sm">
            Always there to care.
          </div>
          <div class="health-card-heading-white">
            Working Hours
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              MONDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              TUESDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              WEDNESDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              THURSDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              FRIDAY
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              8:00 AM – 7:30 PM
            </div>
          </div>
          <div class="health-card-text-row">
            <div class="health-card-day-name">
              SAT/SUN
            </div>
            <div class="health-card-dot-name"></div>
            <div class="health-card-time-slot">
              CLOSED
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="quality-container">
    <div class="quality-background-container">
      <div class="quality-left-side">
          <div class="quality-item">
            <div class="quality-item-left">
              <div class="quality-item-left-icon">
                <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-1-1.png" alt="icon" class="icon-photo">
              </div>
            </div>
              <div class="quality-item-right">
                <div class="quality-item-heading">
                  With us, it’s always personal
                </div>
                <div class="quality-item-text gray-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
              </div>
          </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-2-1.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              The Highest Quality Healthcare
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-3-1.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              Improving the Quality of Your Life at Home
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>
        <div class="quality-item">
          <div class="quality-item-left">
            <div class="quality-item-left-icon">
              <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/icon-4.png" alt="icon" class="icon-photo">
            </div>
          </div>
          <div class="quality-item-right">
            <div class="quality-item-heading">
              Leading the Way in Medical Excellence
            </div>
            <div class="quality-item-text gray-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </div>
          </div>
        </div>

      </div>
      <div class="quality-right-side">

      </div>
    </div>
  </section>
  <section class="counter-container">
    <div class="counter-back-image">
      <div class="counter-background-color-blue">
        <div class="counter-item">
          <div class="count counter-value">
            189
          </div>
          <div class="counter-name">
            Happy Patients
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            2590
          </div>
          <div class="counter-name">
            Health Departments
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            347
          </div>
          <div class="counter-name">
            Blood Donations
          </div>
        </div>
        <div class="counter-item">
          <div class="count counter-value">
            1912
          </div>
          <div class="counter-name">
            Different Services
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="qualified-container">
    <div class="qualified-container-top-text">
        <div class="qualified-container-heading heading-lg">
          Qualified Doctors
        </div>
      <div class="qualified-text gray-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
        pulvinar dapibus leode savii muscule de sanctis.
      </div>
    </div>
    <div class="qualified-card-row">
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-1.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Lawrence Soto
        </div>
        <div class="qualified-card-position">
          GYNECOLOGIST
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-2.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Patrick Burton

        </div>
        <div class="qualified-card-position">
          PEDIATRICIAN
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-3.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Catherine Castillo

        </div>
        <div class="qualified-card-position">
          NEUROLOGIST
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
      <div class="qualified-doctor-card">
        <div class="qualified-card-header">
          <img src="https://bridge133.qodeinteractive.com/wp-content/uploads/2018/01/team-4.jpg" alt="profile" class="qualified-card-photo">
        </div>
        <div class="qualified-card-name-container">
          Dr Alexander Burns
        </div>
        <div class="qualified-card-position">
          DENTAL SURGEON
        </div>
        <div class="qualified-card-icon-row">
          <i class="fa fa-linkedin qualified-card-icon"></i>
          <i class="fa fa-skype qualified-card-icon"></i>
          <i class="fa fa-twitter qualified-card-icon"></i>
        </div>
      </div>
    </div>
  </section>
</main>

<!--<a href="<%#= new_booking_path%>"> Create booking</a>-->

