<header>
  <div class="menu-bar">
    <div class="menubutton">
      <button class="toggle-button">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
</header>

<a href="<%= new_booking_path%>"> Create booking</a>