.u-d-flex{
  display: flex;
}
.u-align-item-center{
  align-items: center;
}
.u-justify-content-center{
  justify-content: center;
}
.u-justify-content-space-between{
  justify-content: space-between;
}
.u-flex-1{
  flex: 1;
}
.gray-text{
  color: #828282;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  //text-align: right;
  //direction: rtl;
}
.heading-lg{
  //direction: rtl;
  color: #373737;
  font-family: 'Roboto',sans-serif;
  font-size: 44px;
  line-height: 72px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
  text-align: right;
}
heading-md{
  color: #181c1b;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;

}
.padding-top-75{
  padding-top: 75px;
}
