.slideer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-bottom: 1px solid black;
}
.services{
  &-container{
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 35px 5px #dceff8;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    max-width: 1440px;
    transform: translateY(-20%);
    flex-direction: column;
    @media only screen and (min-width: 600px) {
      width: 60%;
    }
    @media only screen and (min-width: 800px) {
      transform: translateY(-40%);
      flex-direction: row;
      width: 100%;
    }
    @media only screen and (min-width: 1100px) {
      width: 85%;
    }


  }
  &-image-icons{
    height: 70px;
    width: 70px;
    object-fit: contain;
  }
  &-item{
    display: flex;
    margin: 45px 20px 60px;
    align-items: center;
    border-right: 1px dashed #cccccc;
    flex: 1;
    flex-direction: column;
    @media only screen and (max-width: 800px) {
      border-bottom:1px dashed #cccccc;
      border-right: none;

    }
    &:last-child{
      border-right: none;
      border-bottom: none;
    }
  }
  &-icon{
    flex: 0 0 35%;
    margin-bottom: 15px;
  }
  &-detail{
    flex: 0 0 65%;
    //padding: 10px 50px 10px 0px;
    //border-right: 1px dashed #cccccc;
    @media only screen and (max-width: 800px) {
     border-right: none;
    }
  }
  &-detail-border-none{
    border-right: none;
  }
  &-heading{
    color: #181c1b;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    line-height: 43px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    //direction: rtl;
  }
  &-text{
    color: #828282;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    //direction: rtl;
  }
}
//cards
.cards-row{
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  @media only screen and (min-width: 1100px) {
   flex-wrap: nowrap;
  }
}
.services-section,
.cards-section{
  background-color: #FAFAFA;
}
.cards-section{
  padding-bottom: 50px;
}
.cards-container{
  width: 100%;
  margin: auto;
  max-width: 1440px;
  justify-content: center;
  @media only screen and (min-width: 1100px) {
    width: 85%;
  }
}
.health{
  &-cards{
    //height: 450px;
    //width: 33%;
    flex: 1;
    min-width: 300px;
    overflow: hidden;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    &-header{
      flex: 0 0 40%;
      overflow: hidden;
      height: 230px;
    }
  }
  &-card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-card-heading{
    color: #181c1b;
    font-family: 'Roboto',sans-serif;
    font-size: 26px;
    line-height: 43px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: none;
    //text-align: right;
    margin: 15px 0;
    text-align: center;
  }
  &-blue-card{
    background-color: #00a0f0;
    padding: 30px;
    color: #fff;
    flex: 1;
    @media only screen and (min-width: 1100px) {
      flex: auto;
    }
  }
  &-card-text-row{
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    color: #fff;
    margin: 11px 0;
  }
  &-card-time-slot,
  &-card-day-name{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }
  &-card-dot-name{
    flex: 1;
    border-bottom: 1px dotted #fff;
    margin-bottom: 7px;
  }
  &-card-heading-white{
    font-family: 'Roboto',sans-serif;
    font-size: 36px;
    line-height: 43px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
  }
  &-card-text-white-sm{
    color: #b0d8f8;
    text-align: center;
  }
}
.quality{
  &-background-container{
    background-image: image_url("Slider3/1.jpg");
    //height: 100vh;
    background-position: top;
    display: flex;
    background-size: cover;
    background-position-x: left;

  }
  &-photo-container{
    height: 90px;
    width: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #cecece;
    border-radius: 100px;
    & img{
      height: 45px;
      width: 45px;
    }
  }
  &-left-side{
    flex: 0 0 65%;
    background-color: rgba(255,255,255,.7);
    @media only screen and (max-width:786px)  {
      flex: 0 0 100%;
    }
  }
  &-right-side{
    background-color: rgba(255,255,255,.7);
    flex: 1;
  }
  &-left-side{
    padding: 50px 100px;
    @media only screen and (max-width:786px)  {
      padding: 50px 10px;
    }
  }
  &-item{
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    //flex-direction: row-reverse;
    &-left{
      flex: 0 0 25%;
      text-align: center;
    }
    &-heading{
      color: #181c1b;
      font-family: 'Roboto',sans-serif;
      font-size: 20px;
      line-height: 72px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: none;
      //text-align: right;
    }
  }
}
.counter{
  &-back-image{
    background-image: image_url('shutterstock_1012561585.jpg');
    background-attachment: fixed;
    height: 340px;
    background-position: top;
    @media only screen and (max-width: 768px) {
      height: auto;
      //padding: 40px 0;
    }
  }
  &-image{
    height: 100px;
    width: 100px;
  }
  &-background-color-blue{
    display: flex;
    width: 100%;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    background-color: #00a0f0bf;
    height: 100%;
    justify-content: center;
    @media only screen and (max-width: 1100px) {
      width: 100%;
      padding: 40px 0;
    }
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
      height: auto;
    }
  }
  &-item{
    width: 25%;
    text-align: center;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-image-container{
      height: 200px;
      width: 200px;

      &-first{
        margin-bottom: -50px;
      }
      & img{
        height: 100%;
        width: 100%;
      }
      @media only screen and (max-width: 768px) {
        width: 150px;
        height: 150px;
      }
    }
  }
  &-value{
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
  }
  &-name{
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
    color: #ffffff;
  }
}
.qualified{
  &-container{
    background-color: #FAFAFA;
    padding: 50px;
  @media only screen and(max-width: 900px) {
    padding: 10px;
    padding-bottom: 40px;
  }
  }
  &-container-heading{
    text-align: center;
  }
  &-text{
    width: 67%;
    text-align: center;
    color: #404549;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    line-height: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    margin: 20px auto 40px;
    @media only screen and(max-width: 786px) {
      width: 100%;
    }
  }
  &-card-row{
    display: flex;
    margin-bottom: 40px;
    margin: auto;
    max-width: 1440px;
    @media only screen and(max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media only screen and(max-width: 786px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &-doctor-card{
    flex: 0 0 23%;
    margin-left: 20px;
    transition: box-shadow .3s;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 20px;
    @media only screen and(max-width: 900px) {
      flex:1;
      min-width: 200px;
      margin-bottom: 16px;
      //max-width: 300px;
    }
    @media only screen and(max-width: 786px) {
      min-width:250px;
      margin-bottom: 15px;
      flex: 1;
    }
  }
  &-doctor-card:hover{
    box-shadow: 0 8px 29px 2px #93bfe866;
  }
  &-card-header{
    height: 252px;
  }
  &-card-header img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-card-name-container{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
  }
  &-card-position{
    color: #00a0f0;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
  }
  &-card-icon-row{
    display: flex;
    justify-content: center;
  }
  &-card-icon{
    color: #bcbcbc;
    font-size: 20px;
    margin: 0 10px;
  }
  &-card-icon:hover{
    color: #00a0f0;
  }
}
.reviews{
  &-container{
    padding: 100px;
    @media only screen and(max-width: 900px) {
      padding: 30px;
    }
    @media only screen and (max-width: 768px) {
      padding: 10px;
    }
  }
  &-inner-container{
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 1440px;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &-sides{
    flex: 0 0 48%;
    @media only screen and (max-width: 768px) {
      flex:1;
      margin-bottom: 16px;
    }
  }
  &-left-side{
    background-color: #dcf0fa;
    text-align: center;
    padding: 50px;
  }
  &-right-side{
    padding:0 40px;
  }
  &-heading-black{
    line-height: 40px;
    margin-bottom: 40px;
  }
  &-review{
   &-container{
     display: flex;
     border-bottom: 1px dashed #ccc;
     margin-top: 20px;
   }
   &-container:last-child{
     border-bottom: none;
   }
    &-left{
      flex: 0 0 15%;
      max-width: 70px;
      min-width: 70px;
    }
    &-right{
      flex: 1;
    }
    &-right-bottom{
     display: flex;
      margin: 20px 0;
    }
    &-right-photo{
      margin-right: 17px;
    }
    &-reviewer-position{
      font-family: 'Roboto',sans-serif;
      font-size: 14px;
      line-height: 26px;
      font-style: normal;
      letter-spacing: 0.025em;
      font-weight: 500;
      color: #00a0f0;
    }
  }
}
::selection{
  background: #1abc9c;
  color: #fff;
}
.text-right-custom .card{
  text-align: right;
  direction: rtl;
}
.text-right-custom{
  text-align: right;
  direction: rtl;
}
.card-header-custom{
  background-color: transparent;
  padding: 5px 10px;
  & button{
    //color: #000;
    font-weight: 500;
    padding: 3px;
    &:hover{
      color: #000;
      text-decoration: none;
    }
  }
}
.slider-two{
  margin-bottom: 75px;
  &-background-image-container{
    height: 450px;
    background-image: image_url('Slider3/1.jpg');
    background-size: cover;
    background-position: right;
    //padding-bottom: 45px;
    position: relative;
    @media only screen and (max-width: 768px) {

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &-text-container{
    //background-color: rgba(255,255,255,.8);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      position: initial;
      left: auto;
      width: auto;
      transform: none;

    }
  }
}

.slider-seven,
.slider-six,
.slider-three{
  margin-bottom: 75px;
  &-background-image-container{
    height: 450px;
    background-image: image_url('Slider2/1.jpg');
    background-size: cover;
    background-position: right;
    //padding-bottom: 45px;
    position: relative;
    @media only screen and (max-width: 768px) {

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.slider-four{
  margin-top: 75px;
  margin-bottom: 75px;

  &-background-image-container{
    height: 450px;
    background-image: image_url('Slider5/1.jpg');
    background-size: cover;
    background-position: right;
    //padding-bottom: 45px;
    position: relative;
    @media only screen and (max-width: 768px) {

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.slider-five{
  margin-bottom: 75px;
  //margin-top: 75px;
  //padding: 25px;
}
.slider-five-background-image-container{
  height: 300px;
  //background-image: image_url('Slider5/1.jpg');
  background-size: cover;
  background-position: right;
  padding-bottom: 45px;
  position: relative;
  @media only screen and (max-width: 768px) {

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.slider-six-background-image-container{
  background-image: image_url('Slider7/1.jpg');
}
.slider-seven-background-image-container{
  background-image: image_url("TheSlider.png");
  background-size: cover;
}
.slider-eight{
  position: relative;
  height: 300px;
}
.slider-heading-sm{
  font-size: 40px;
  font-weight: 500;
}
.slider-background-layer{
  background-color: rgba(0,0,0,.25);
  height: 100%;
  width: 100%;
  position: relative;
}