.menu-bar{
  display: flex;
  height: 75px;
  border-bottom: 1px solid #eee;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #Fff;
  z-index: 99;
  box-shadow: 0 1px 3px rgba(0,0,0,.11);
}
.menu-item{
  &s-container{
    display: flex;
    max-width: 1440px;
    margin: auto;
  }
  &-icon{
    padding: 0 15px;
  }
  @media only screen and (max-width: 786px) {

  }
}

.menubutton {
  display: none;
  @media only screen and (max-width: 786px) {
      display: block;
  }
}
.logo-container{
  flex: 0 0 20%;
}
.menu-item-right{
  flex: 0 0 30%;
}
.menu-item{
  width: 18%;
  min-width: 100px;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  color:#000;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  &:hover{
    color: #00a0f0;
  }
  &  a{
    color: #000;
  }
  & a:hover{
    color: #00a0f0;
  }
}

.menu-items a:hover{
  text-decoration: none;
}
.active{
  color: #00a0f0;
  & a{
    color: #00a0f0;
  }
}

.phone-container{
  padding-right: 20px;
  border-right: 1px dashed #ccc;
  white-space: nowrap;
}
.logo-img{
  height: 70px;



}
.header-img-color{
  background-color: #1C9FF0;
  height: 100px;
  //width: 85px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 70px;
  @media only screen and (min-width:1440px) {
    left: initial;
  }
  @media only screen and (max-width: 1100px){
    left: 0;
  }
}
.header-img-color-md{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  padding: 10px;
  z-index: 99;
  height: 75px;
  background-color: #1C9FF0;
  & a{
    margin-right: 0;
  }
}
.logo-image-md{
  height: 100%;
  //width: 100%;
}
.nav-bar-mobile{
  min-height: 85px;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  justify-content: flex-start;
  align-items: center;
  //position: relative;
}
.botton-nav-bar{
  margin-right: 0;
  border: none;
  position: fixed;
  top: 42.5px;
  transform: translateY(-50%);
}
.botton-nav-bar:focus{
  outline: none;
  color: #00a0f0;
}
button[aria-expanded="true"]> i{
  color: #00a0f0;
}
.fa-black-color{
  color: #000;
}
.nav-link-mb{
  font-size: 16px;
  font-weight: 400;
  color: #888;
  padding: 10px 0;
  display: block;
  position: relative;
  text-transform: none;
  line-height: 26px;
  letter-spacing: 0;
  border-bottom: 1px solid #ccc;
  height: 46px;
}
.nav-link-mb-b-0{
  border-bottom: none;
}
.nav-bar-collapse-data{
  margin-top: 70px;
}
.d-done-at-md{

  @media only screen and (max-width: 676px) {
    display: none !important;
  }
}
.language-controller{
  background-color: transparent;
  padding: 5px;
  border-radius: 4px;
}
.align-right{
  position: absolute;
  right: 15px;
  z-index: 99;
  top: 30px;
}